/* Style header */
/*
*{
    color:aquamarine;
}
*/

#header{
    position: absolute;
    top: 150px;
    left: 100px;
    
}

#header h1{
font-size: 56px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:aquamarine;
}

#header p{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
}

hr{

    color: gold;
}

strong{

    color:gold;
    
   
}

#navigation{
    position: absolute;
    top: 420px;
    left: 60px;
    
}
ul li a{
    list-style-type: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}


#contact-us > p{
    color:aqua;
}

#articles h2 + p{
color:aquamarine;
}

a:hover{
    color: gold;
}

a:active{
    color:aquamarine;
}

a:visited{
    color:aqua;
}

#contact-us > p:hover{
    color:gold;
}
/*
article p:first-of-type{

    font-weight: bold;

}

article p:last-of-type{

    color:aquamarine;
}

.test li:nth-child(1), li:nth-child(7){

    font-weight: bold;
}

.test li:nth-child(3n + 1){

    color:aquamarine;
}

article:nth-of-type(2n + 1){

    background: aquamarine;
}

article.skills{
    background:tomato;
}
div.contact-method{
    background:steelblue;
}
*/