/* Style header */
/*
*{
    color:aquamarine;
}
*/

#header{
    position: absolute;
    top: 150px;
    left: 100px;
    
}

#header h1{
font-size: 3.5em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight:normal;
color:aquamarine;
}

#header p{
    padding: 10px;
    text-transform:none;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:green;
    background: gold;
    border-radius: 5px;
  
  
}
  
img.fish{
    width: 100%;
    height: 950px;
}
  

hr{

    color: gold;
}

strong{

    color:gold;
    
   
}

#navigation{
    position: absolute;
    top: 460px;
    left: 60px;
}




ul li a{
    list-style-type: none;
    text-decoration: none;
    font-size: 1.em;
    line-height: 22px;
    color:aquamarine;
}




#articles h2 + p{
color:aquamarine;
}

a:hover{
    color: gold;
}

a:active{
    color:aquamarine;
}

a:visited{
    color:aquamarine;
}

#contact-us > p{
    color:aqua;
}

#contact-us > p:hover{
    color:gold;
}
/*
article p:first-of-type{

    font-weight: bold;

}

article p:last-of-type{

    color:aquamarine;
}

.test li:nth-child(1), li:nth-child(7){

    font-weight: bold;
}

.test li:nth-child(3n + 1){

    color:aquamarine;
}

article:nth-of-type(2n + 1){

    background: aquamarine;
}

article.skills{
    background:tomato;
}
div.contact-method{
    background:steelblue;
}
*/

article p {
    font-size:12px;
    line-height: 1em;
    margin-bottom: 32px;
    }



    
