/* Style header */
/*
*{
    color:aquamarine;
}
*/

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    background: linen;
}

#wrapper{
    width:100%;
    margin:0px, auto;
    background: aliceblue;
}


#header{
    z-index: 2;
    position:absolute;
    top: 150px;
    left: 100px;
    width:600px;
    
}

#header h1{
font-size: 3.5em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight:normal;
color:aquamarine;
}

#header p{
    padding: 20px;
    text-transform:none;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(55, 83, 55);
    background: gold;
    border-radius: 10px;
}
  
  
.experts{
    font-size:3em;
    color:azure;
    position:static;
    bottom:220px;
}
  
img.fish{
    position:static;
    width: 100%;
    
}
  

hr{

    color: gold;
}

strong{
position: a;
    color:gold;
    
   
}

#navigation{
    z-index: 3;
    position: fixed;
    width:100%;
    background: aquamarine;
    padding: 10px;
}


#navigation ul{
    text-align: right;
    list-style-type: none;
    margin-right: 60px;
}

#navigation li{
    display:inline-block;
    margin-left:20px;
    font-size:12px;
}

#navigation a{
    color:black;
    text-decoration: none;

}

#navigation a.current {
    color:blanchedalmond;
    background: rgb(1, 20, 14);
    padding: 10px;
    border-radius: 5px;
}

.box{
    position: relative;
    bottom: 950px;
    left: 130px;
    display: inline-block;
    margin: 20px 20px 20px;
    padding: 40px 20px 40px 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding;
    border: none;
    border-radius:10px;
    width: 190px;
    height:300px;

}

.lighter-h4{
    font-weight: lighter;
}

.all-h4{
    margin:0, auto;
}

.how{
    text-align:justify;
    font-size: 12px;
    line-height: 2.8em;

}

.button{
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold ;
    
background:aquamarine;
    padding: 10px;
    width: 90px;
  
}

.button:hover{
    color:blanchedalmond;
    font-size: 14px;
    font-weight: bold ;
    background:rgb(1, 12, 8);
    padding: 10px;
}

#types-of-fish{
    display:block;
    position:sticky;
    top:60px;
    margin:20px;
    padding: 10px 0px 10px 0px;
    color:rgb(255, 255, 255);
    background:rgb(163, 204, 223);
    border-radius: 10px;
    text-align: center;
    width:100%;
  
}

#footer-banner{
    margin:0, auto;
    padding: 30px;
    background: aquamarine;
    font-size:14px;
}
